@model List<BookLinks.Repositories.Models.Link>

@{
    ViewData["Title"] = "Index";
}


<form asp-controller="Link" asp-action="Index">
    <div class="row g-3 mb-4">
        <div class="d-grid gap-2 col-1">
            <a asp-action="Create" class="btn btn-success rounded-pill">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-node-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM6.025 7.5a5 5 0 1 1 0 1H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025zM11 5a.5.5 0 0 1 .5.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2A.5.5 0 0 1 11 5zM1.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
                </svg>
            </a>
        </div>
        <div class="col-md-8">
            <input type="text" name="SearchString" placeholder="Поиск" class="form-control rounded-pill">
        </div>
        <div class="col-md-1">
            <select name="Option" class="form-select rounded-pill">
                @foreach (var item in Enum.GetValues(typeof(LinkOptiosEnum))
                .Cast<LinkOptiosEnum>()
                .Select(e => new { Name = e.ToString() }))
                {
                    <option value="@item.Name"> @item.Name </option>
                }
            </select>
        </div>
        <div class="d-grid gap-2 col-2">
            <button type="submit" value="Поиск" class="btn btn-success rounded-pill">
                Поиск
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </button>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr align="center">
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Book!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Book!.Author)
            </th>
            <th>
                <label>Дайствия</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.BookId)
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.Book!.Name)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Book!.Author)
                </td>
                <td class="col-md-4" align="center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success rounded-pill">
                        Изменить
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg>
                        </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success rounded-pill">
                        Информация
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-pill">
                        Удалить
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </svg>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>