@model BookLinks.WebMVC.Models.OrderModel
@{
    ViewData["Title"] = "Корзина";
}

<div class="container-fluid">
    <h1 class="text-center">
        @ViewData["Title"] 
    </h1>
    <h1 class="text-center"> 
        Общая цена - @Model.BookOrdersModel.Sum(b => b.Book.Price)
    </h1>
</div>

<table class="table table-bordered border-dark">
    <thead>
        <tr align="center">
            <th>
                Обложка
            </th>
            <th>
                Информация о книге
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BookOrdersModel)
        {
            <tr>
                <td class="col-md-1">
                    <div>
                        <div>
                            <h4>
                                @if (item.Book.ImageContent != "")
                                {
                                    <img src="@item.Book.ImageContent" width="160" height="240" />
                                }
                                else
                                {
                                    <img src="/img/notimage.jpg" width="28" height="39" />
                                }
                            </h4>
                        </div>
                    </div>
                </td>
                <td class="col-md-10">
                    <div >
                        <div>
                            <h3>
                                @Html.DisplayFor(model => item.Book.Name)
                            </h3>
                        </div>
                        <div>
                            <h5>
                                @Html.DisplayFor(model => item.Book.Author)
                            </h5>
                        </div>
                        <div>
                            <h5>
                                @Html.DisplayFor(model => item.Book.Released)
                            </h5>
                        </div>
                        <div>
                            <h5>
                                @Html.DisplayFor(model => item.Book.Description)
                            </h5>
                        </div>
                    </div>
                </td>
                <td class="col-md-1" align="center">
                    <div>
                        <h4>
                            @Html.DisplayFor(model => item.Book.Price)
                        </h4>
                    </div>
                    <div>
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Book.Id" class="btn btn-outline-success">
                            Инфо
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table> 