@model BookLinks.Repositories.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Создание.</h1>

<div class="row">
    <div class="form-floating mb-3">
        @using (Html.BeginForm("Create", "Book", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="@Model.Name" class="control-label mt-2"></label>
                <input asp-for="@Model.Name" class="form-control mt-2" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Author" class="control-label mt-2"></label>
                <input asp-for="@Model.Author" class="form-control mt-2" />
                <span asp-validation-for="@Model.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label mt-2"></label>
                <textarea asp-for="@Model.Description" class="form-control mt-2" rows="4"> </textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Released" class="control-label mt-2"></label>
                <input asp-for="@Model.Released" class="form-control mt-2" />
                <span asp-validation-for="@Model.Released" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rating" class="control-label mt-2"></label>
                <input asp-for="@Model.Rating" class="form-control mt-2" />
                <span asp-validation-for="@Model.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.OriginalFileName" class="control-label mt-2"></label>
                <input asp-for="@Model.OriginalFileName" class="form-control mt-2" type="file" />
                <span asp-validation-for="@Model.OriginalFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-success mt-4 mb-2 rounded-pill" />
                <a onclick="history.back()" class="btn btn-danger mt-4 mb-2 rounded-pill">Назад</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
