@model BookLinks.WebMVC.Models.BookModel
@{
    ViewData["Title"] = "Информация о книге";
}

<div class="container-fluid">
    <h1 class="text-center">
        @ViewData["Title"]
    </h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h2>Книга - @Html.DisplayFor(model => model.Id)</h2>
            </th>
            <th>
                <h4>
                    @Html.DisplayFor(model => model.Name)
                </h4>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (@Model.ImageContent != "")
                {
                    <img src="@Model.ImageContent" width="280" height="390" />
                }
                else
                {
                    <img src="/img/notimage.jpg" width="280" height="390" />
                }
            </td>
            <td>
                <div class="col-md-12">
                    <div>
                        <h4>
                            <label> Рэйтинг </label>
                            @Html.DisplayFor(model => model.Rating)
                            <label> ★ </label>
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <label> Дата релиза </label>
                            @Html.DisplayFor(model => model.Released)
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <label> Цена </label>
                            @Html.DisplayFor(model => model.Price)
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <label> Автор </label>
                            @Html.DisplayFor(model => model.Author)
                        </h4>
                    </div>
                    <div>
                        <h5>Описание</h5>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div class="mt-2">
        @foreach (var item in Model.Links)
        {
            <a href="@item.Path" class="btn btn-success rounded-pill mt-2" target=" _blank">
                Ссылка № @item.Id
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                    <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                </svg>
            </a>
        }
    </div>
</div>

<div>
    <a onclick="history.back()" class="btn btn-danger mt-4 mb-2 rounded-pill">
        Назад
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
        </a>
</div>