@model BookLinks.WebMVC.Models.UserModel
@{
    ViewData["Title"] = "Информация о пользователе";
}

<div class="container-fluid">
    <h1 class="text-center">
        @ViewData["Title"]
    </h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <h4>
                    @Html.DisplayFor(model => model.Name)
                </h4>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="col-md-12">
                    <div>
                        <h4>
                            <label> Имя </label>
                            @Html.DisplayFor(model => model.Name)
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <label> Почта </label>
                            @Html.DisplayFor(model => model.Email)
                        </h4>
                    </div>
                    <div>
                        <h4>
                            <label> Логин </label>
                            @Html.DisplayFor(model => model.LoginName)
                        </h4>
                    </div>
                    <div>
                        <h5>Дата регистрации</h5>
                        @Html.DisplayFor(model => model.Created)
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a onclick="history.back()" class="btn btn-danger mt-4 mb-2 rounded-pill">
        Назад
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </a>
</div>
