@model BookLinks.WebMVC.Models.UserModel

@{
    ViewData["Title"] = "Изменение пользователя";
}

<div class="container-fluid">
    <h1 class="text-center">
        @ViewData["Title"]
    </h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2 mb-2">
                <label asp-for="@Model.Name" class="control-label mt-2"></label>
                <input asp-for="@Model.Name" class="form-control mt-2" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label mt-2"></label>
                <input asp-for="@Model.Email" class="form-control mt-2" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-label mt-2"></label>
                <input asp-for="@Model.Phone" class="form-control mt-2" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address" class="control-label mt-2"></label>
                <input asp-for="@Model.Address" class="form-control mt-2" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.LoginName" class="control-label mt-2"></label>
                <input asp-for="@Model.LoginName" class="form-control mt-2" />
                <span asp-validation-for="@Model.LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PwdHash" class="control-label mt-2"></label>
                <input asp-for="@Model.PwdHash" class="form-control mt-2" />
                <span asp-validation-for="@Model.PwdHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Role" class="control-label mt-2"></label>
                <select asp-for="@Model.Role" class="form-select">
                    @foreach (var item in Enum.GetValues(typeof(UserRoleEnum))
                    .Cast<UserRoleEnum>()
                    .Select(e => new { Name = e.ToString() }))
                    {
                        <option value="@item.Name"> @item.Name </option>
                    }
                </select>
                <span asp-validation-for="@Model.Role" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <button type="submit" value="Сохранить изменения" class="btn btn-success rounded-pill">
                    Сохранить изменения
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                    </svg>
                </button>
                <a onclick="history.back()" class="btn btn-danger rounded-pill">
                    Отмена
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
            </div>
            <div class="form-group mt-2">
                <input type="hidden" asp-for="@Model.Created" class="form-control" />
            </div>
        </form>
    </div>
    <div>
        <div class="col-md-4">
            @Html.Label("Дата последнего изменения книги"):
            @Model.Update
        </div>
        <div class="col-md-4">
            @Html.Label("Дата создания книги"):
            @Model.Created
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

